<?xml version="1.0" encoding="utf-8"?>
<!--
Este archivo se usa en el proceso de publicación y empaquetado del proyecto web. Para personalizar el comportamiento de este proceso,
edite el archivo MSBuild. Visite https://go.microsoft.com/fwlink/?LinkID=208121 para obtener más información. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>ZipDeploy</WebPublishMethod>
    <ResourceId>/subscriptions/3d6d2f13-6052-4478-a335-2633501236a9/resourceGroups/DEPI-group/providers/Microsoft.Web/sites/webapp-depi</ResourceId>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>http://webapp-depi.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ProjectGuid>03a681ad-98f3-49ea-8309-a3042dc1dc18</ProjectGuid>
    <PublishUrl>https://webapp-depi.scm.azurewebsites.net/</PublishUrl>
    <UserName>$webapp-depi</UserName>
    <_SavePWD>True</_SavePWD>
  </PropertyGroup>
</Project>